* {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-x: hidden;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/background.jpg'); !important;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
    overflow-x: hidden;
}

header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    font-size: 36px;
    text-align: center;
    position: relative;
}

header h1 {
    font-family: Arial, sans-serif;
    line-height: 1;
    margin: 0;
}

main {
    padding-left: 50px;
    padding-right: 50px;
    flex: 1 1 auto;
    padding-bottom: 50px;
}

footer {
    font-size: 10pt;
    color: #666666;
    background-color: gainsboro;
    text-align: center;
    padding: 10px 0;
    flex-shrink: 0;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
}

.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    align-content: flex-start;
    max-width: 1360px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(150, 150, 150, 0.6);
    border-radius: 30px;
    margin: 10px auto;
}

.error-container h2 {
    font-size: 24px;
    margin: 0 0 15px;
    color: #333;
}

.error-container p {
    font-size: 16px;
    margin: 0 0 15px;
    color: #555;
}

.submit-button {
    font-size: larger;
    border-radius: 10px;
    border-width: 0;
    background-color: #d9534f;
    color: white;
    margin: 5px 5px 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: calc(100% - 10px);
}

.submit-button:hover {
    background-color: #d14541;
    color: whitesmoke;
}

.submit-button:active {
    background-color: firebrick;
    color: #e8e8e8;
}

@media (max-width: 1240px) {
    .menu-container {
        max-width: 800px;
        column-gap: 4px;
    }
}

@media (max-width: 940px) {
    .menu-container {
        max-width: 500px;
        column-gap: 2px;
    }
}

@media (max-width: 768px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
        max-width: 640px;
        width: 100%;
        row-gap: 20px;
    }

    footer {
        font-size: medium;
    }

    header {
        text-align: center;
        padding: 10px 60px;
    }

    header h1 {
        font-size: 45px;
    }

}

@media (max-width: 430px) {
    .menu-container {
        flex-direction: column;
        align-items: center;
        padding: 10px;
        max-width: none;
        width: 100%;
    }

    header {
        text-align: left;
        padding: 20px 10px;
    }

    header h1 {
        font-size: 35px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    main {
        padding-left: 10px;
        padding-right: 10px;
    }

    footer {
        font-size: medium;
    }

    .submit-button{
        font-size: medium;
        padding: 8px 0;
    }
}