<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalina Restaurant Menu</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/menu-style.css">
    <link rel="icon" href="/images/img.png">
</head>
<body>

<div class="wrapper">

    <header class = "menu-header">
        <h1>Catalina Restaurant</h1>
        <div th:if="${not #maps.isEmpty(cart)}">
            <a href="/catalina-restaurant/order/new"><img src="/static/images/cart.png" alt="cart.png" class="cart-img"></a>
        </div>
    </header>

    <main class="menu-container">
        <div th:each="item : ${menuItemList}" class="menu-item" th:id="${item.id}">
            <img th:src="${item.imageUrl}" class="menu-image" width="300" height="200" th:alt="${item.name}">
            <div class="menu-details">
                <h2 th:text="${item.name}"></h2>
                <p th:text="${item.description}"></p>
                <span class="price" th:text="'Price: ' + ${item.price} + ' ₴'"></span>
                <br>
                <form action="/catalina-restaurant/add-to-cart" method="post" onsubmit="return showPopup(event, this)">
                      <div>
                          <input type="hidden" name="itemId" th:value="${item.id}" />

                          <label th:for="'quantity-' + ${item.id}">quantity:</label>
                          <div class="quantity-container">
                              <button type="button" class="quantity-btn" th:onclick="'changeQuantity(-1, ' + ${item.id} + ')'">−</button>
                              <input type="number" class="quantity-input" th:id="'quantity-' + ${item.id}" name="quantity" min="1" value="1" readonly required />
                              <button type="button" class="quantity-btn" th:onclick="'changeQuantity(1, ' + ${item.id} + ')'">+</button>
                          </div>

                          <button type="submit" class="submit-button">add to cart</button>
                      </div>
                </form>
            </div>
        </div>
    </main>

  <footer>
      <p>&copy; 2025 Course work. American and mexican restaurant</p>
  </footer>

</div>

<script src="/scripts/script.js" defer></script>

<div id="cartPopup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h3>Item Added to Cart</h3>
        <p id="popupItemName"></p>
        <p id="popupQuantity"></p>
        <p id="popupPrice"></p>
        <button onclick="window.location.href='/catalina-restaurant/menu'" class="submit-button">Continue</button>
    </div>
</div>
</body>
</html>